*  {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
font-family: sans-serif;
background: #fff;

padding: 42px;
}
.wrapper {
  max-width: 1280px;
  margin: 0 auto;
  padding: 20px;
  background: #fff;
}
.navigation {
  display: flex;
  justify-content:space-between;
}
.menu-list {
  margin-left: 30px;
  display: flex;
  gap: 24px;
  list-style: none;
}
header {
  justify-content: center;
  width: 1380px;
  height: 78px;
}
.hero-container {
  display: flex;
  max-width:1280px ;

}
.header-left {
  width: 620px;
  height: 202px;
   & p {
    margin: 24px 0;
   width: 620px;
   height: 54px; 
  }
 
}
.header-right {
  width: 50%;
  text-align: right;
}
.contact-button {
   margin-top: 30px;
  padding: 24px 64px;
  background-color: #222;
  color: #fff;
  border: none;
  font-size: 20px;
  cursor: pointer;
}
.hero-wrapper {
  display: flex;
  gap: 24px;
}
.hero-name {
  font-size: 48px;
  font-weight: bold;
}
.logo-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 42px 68px;
  max-width: 100%;
}
.card {
 flex: 1;
  max-width: 394px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
  justify-content: space-between;
 
}
.logo {
 
  height: auto;
}
.text {
  margin-top: 10px;
  font-size: 17px;
  text-align: center;
  max-width: 310px;
  font-weight: 400;
}
.card-name {
  font-size: 27px;
  font-weight: bold;
}
.card-container {
  display: flex;
  justify-content: space-around;
  align-items: stretch;
}
.card p {
  white-space: normal;
}
.card-section {
  padding: 42px 24px;
 margin: 20px 0;
  
}