* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(255, 255, 255);
    background-color: rgb(63, 69, 88);
}
.flex-wrapper {
    width: 600px;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    overflow: hidden;
     & .top {
        & h1 {
            margin-bottom: 15px;
            color: rgb(0, 150, 187);
        }
        & h2 {
            margin-bottom: 15px;
            color: rgb(165, 165, 0);
        }
        & p { margin-bottom: 15px }
        color: darkgray;
      

     }
     & .card-footer {
        display: flex;

        & .left {
            width: 50%;
            background-color: rgb(0, 202, 188);
            & h3 {
                margin-bottom: 15px;
            }
            & div {
                margin-bottom: 10px;
                & strong { 
                    margin-bottom: 20px;
                    background-color: auto;
                }
                & span { margin-bottom: 15px;
                color: darkgray;}
            }
            & p {
                margin-bottom: 10px;
            }
            & button {
                padding: 10px 80px;
                border: none;
                background-color: rgb(1, 250, 76);
            }
        }
        & .right {
           
            width: 50%;
            background-color: rgb(0, 189, 210) ;
            & h3 {
                margin-bottom: 15px;
            }
            & p {
                margin-bottom: 15px;

            }
        }
     }
}

.top,
.left,
.right {
 padding: 20px;
}